[submodule "lib/contenticious"]
	path = lib/contenticious
	url = git@github.com:Real-Currents/contenticious.git
[submodule "content/dev"]
	path = content/dev
	url = git@github.com:dancingfrog/README.git
[submodule "content/js-demos"]
	path = content/js-demos
	url = git@github.com:Real-Currents/js-demos.git
